<!DOCTYPE html>
<html lang="en">
<head>
  <title>Book review QR gennerator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Tạo mã QR review sách</h2>
  <form action="/genqr" method="POST">
    <div class="form-group">
      <label for="email">Tên sách:</label>
      <input type="text" class="form-control" id="book" placeholder="Nhập tên sách" name="book">
    </div>
    <div class="form-group">
      <label for="email">Tên tác giả:</label>
      <input type="text" class="form-control" id="author" placeholder="Nhập tên tác giả" name="author">
    </div>
    <div class="form-group">
      <label for="email">Năm xuất bản:</label>
      <input type="number" class="form-control" id="year" placeholder="Nhập năm" name="year">
    </div>
    <div class="form-group">
      <label for="email">Ảnh bìa:</label>
      <input type="text" class="form-control" id="cover" placeholder="Nhập link ảnh bìa" name="cover">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

</body>
</html>
